<div class="filter-container">
  <mat-form-field filter appearance="outline">
    <mat-label>Search book</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addBook()">
    Add book
  </button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="bookList">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element" data-label="id">
        <span class="mobile-label">Id:</span>
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element" data-label="title">
        <span class="mobile-label">Title:</span>
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element" data-label="author">
        <span class="mobile-label">Author:</span>
        {{ element.author }}
      </td>
    </ng-container>

    <ng-container matColumnDef="publishedDate">
      <th mat-header-cell *matHeaderCellDef>Published Date</th>
      <td mat-cell *matCellDef="let element" data-label="publishedDate">
        <span class="mobile-label">Published Date:</span>
        {{ element.publishedDate | date : "dd/MM/YYYY" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element" data-label="description">
        <span class="mobile-label">Description:</span>
       {{ element.description | ellipsis: 50 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Categories</th>
      <td mat-cell *matCellDef="let element" data-label="categories">
        <span class="mobile-label">Categories:</span>
        {{ element.categories }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="showBookInfo(element)">
          <span class="material-icons"> info </span>
        </button>
        <button mat-icon-button color="primary" (click)="editBook(element)">
          <span class="material-icons"> edit </span>
        </button>
        <button
          color="warn"
          mat-icon-button
          [disabled]="bookList.data.length < 2"
          (click)="deleteBook(element)"
        >
          <span class="material-icons"> delete </span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="bookColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: bookColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

