:host{
    padding: 22px;
    .logo-wrap{
        width: 100%;
        text-align: center;
        .logo{
            height: 55px;
        }
        .sub-title{
            color: #999;
        }
    }
}